@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

:root {
    
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Montserrat', sans-serif;
    
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    background-image: linear-gradient(to left,  #1adb7ecb, #168d53);
}

header {
    background-image: url(../imagens/foto400.jpg);
    background-repeat: no-repeat;
    min-width: 300px;
    max-width: 1349px;
    background-position: center center;
    margin: auto;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 40px;
    
}

img {
    width: 100vw;
}

header > h1{
    font-family: var(--fonte2);
    font-size: 7vw;
    text-shadow: 2px 2px white;
    
}

main > h1{
    background-color: #0B4227;
    color: white;
    text-align: center;
    /*width: 400px;*/
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: var(--fonte3);
    font-size: 1.5em;

}

section {
    background-color: /*#dfe4dfee;*/ #D1DBE3;
    text-align: center;
    text-align: justify;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    /*width: 400px;
    height: 1200px;*/
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--fonte2);
    

}

span{
    
    color: black;
}

main section a{
    text-decoration: none;
}

section > p{
    text-indent: 20px;
}

aside > h1{
    background-color: #0B4227;
    color: white;
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    width: 70%;
    /*width: 400px;*/
    margin: auto;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: var(--fonte3);
    font-size: 1.5em;
}

aside > ol {
    columns: 1;
    margin: auto;
    text-align: left;
    list-style-position: inside;
    background-color: #D1DBE3;
    /*width: 400px;*/
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--fonte2);
    background-image: url(../imagens/branco700.jpg);
    background-size: cover;
    background-position: center center;
    
    

    
    
}


ul{
    background-color: #D1DBE3;
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--fonte2);
    
    
}

ul.passo{
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    columns: 3;
    text-align: center;
    display: block;
    
    
}

ul.passo a{
    color: white;
    font-size: 1em;
}




div h1{
    background-color: #0B4227;
    color: white;
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: var(--fonte3);
    font-size: 1.5em;
}

div ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: none;

    
}




div ul a{
    text-decoration: none;
    color: black;
}

div ul img {
    width: 20px;
}

section.pag2{
    margin-top: 20px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    text-indent: 20px;
}

section.pag3{
    margin-top: 20px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    text-indent: 20px;
}

section.pag04{
    margin-top: 20px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 1000px;
    width: 80%;
    text-indent: 20px;
}

section > table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    
}

section > table > thead {
    border: 1px solid gray;
    padding: 10px;
    
}

section > th, td {
    border: 1px solid gray;
    padding: 10px;
    
}



div#passos {
    padding: 10px;
    
}



