@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

:root {
    
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Montserrat', sans-serif;
    
}

*{
    margin: 0px;
    padding: 0px;

}

body{
    background-image: linear-gradient(to left,  #1adb7ecb, #168d53);
}

header {
    background-image: url(../imagens/foto400.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 40px;
    
}

header > h1{
    font-family: var(--fonte2);
    font-size: 7vw;
    text-shadow: 2px 2px white;
}

main > h1{
    background-color: #0B4227;
    color: white;
    text-align: center;
    width: 600px;
    margin: auto;
    padding: 20px;
    margin-top: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: var(--fonte3);

}

section {
    background-color: white;
    text-align: center;
    text-align: justify;
    margin: auto;
    width: 600px;
    height: 800px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--fonte2);
    

}

span{
    text-decoration: none;
    color: black;
}

section > p{
    text-indent: 20px;
}

aside > h1{
    background-color: #0B4227;
    color: white;
    text-align: center;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: var(--fonte3);
}



ul{
    background-color: white;
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    columns: 2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--fonte2);
    
}
